
.carrusel {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo  titulo"
                         "imgAnterior img imgPost"
                         "botones botones botones";
}

.tituloCarrusel {
    grid-area: titulo;

}

.imgCarrusel {
    grid-area: img;
}
.imgAnteriorcarrusel {
    grid-area: imgAnterior;
}

.imgPostcarrusel {
    grid-area: imgPost;
}

.botomCarrusel {
    grid-area: botones;
}
.carrusel img {
    height: 60vh;
    width: 80vh;
    border-radius: 30px;
    
}

#imgAnterior {
    opacity: 0;
}

#imgPost {
    opacity: 0.3;
}

