:root{
    --plataforma: celulares;
}
.carrusel {
    display: grid;
    grid-template-areas:
    
    "botonIsq img botonDer " ;  
    
    grid-template-columns:  0.5fr 1fr 0.1fr ;
    grid-template-rows: 0.5fr ;
}
.imgCarrusel {
    /*width: 100%;*/
    aspect-ratio: 1/1.2;
    position: relative;
    grid-area: img; 
    margin-top: 50%;    
}


.imgAnteriorcarrusel {
    grid-area: botonIsq;
    display: block;
    padding: 2px ;
    /*background-color: #4CAF50;*/
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-right: 70vw;
}

.imgPostcarrusel {
    grid-area: botonDer;
    
    display: block;
    padding: 1px ;
    /*background-color: #4CAF50;*/
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    margin-left: 70vw;
}

.botomCarrusel {
    grid-area: botones;
    padding-bottom: 5px;

}

.carrusel img {
    border-radius: 30px;
}

.carrusel {
    display: grid;
    place-items: center;
}
.imgCarrusel .imgBox {
    width: 40vh;
    height: 30vh; /* Establecer un alto fijo */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    position: relative;
    
    
    
}

.imgCarrusel .imgBox img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recortar la imagen para ajustarse al contenedor */
    filter: grayscale(0) brightness(1);
    scale: 1.2;
    transition: scale 2s ease-in-out, filter 1s ease-in-out;
}

.imgCarrusel:hover .imgBox img {
    filter: grayscale(1) brightness(0.7);
    scale: 1;
}
.text-box {
    color: #81f4c3;
}

.text-box :is(.main){
    margin-top: -30vh;
    height: 34px;
    line-height: 34px;
    overflow: hidden;

}
.text-box :is(.sub){
    
    height: 400px;
    line-height: 34px;
    overflow: hidden;

}
.sub {
    margin-top: 5vh;
}

.main span, .sub span {
display: block;
width: 70vw;
transition: transform 0.5s ease-in-out;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.main span {
transition-delay: 0.2s;
transform: translateY(100%);

}
.sub span {
transform: translateY(-100%);
transition-delay: 0.5s;
}

.imgCarrusel:hover .text-box :is(span){
    transform: translateY(0%);
}

.text-box .main {
font-size: 13px;
font-weight: 600px;
text-transform: uppercase;
position: relative;
}

.text-box .sub {
    font-size: 10px;
    font-weight: 500;
}

/* animacion barra*/
.imgCarrusel.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
}
.text-box::after {
    position: absolute;
    content: "";
    top: 10%;
    left: 50%;
    width: 70%;
    height: 5px;
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: left;
    transition: 0.5s ease;
    background-color: rgb(250, 250, 250);
    
}

.imgCarrusel:hover .text-box::after {
    transform: translate(-50%, -50%) scaleX(1);
}

