body {
    background-color: #404040;
}

.headerContenedor {
    padding: 0.2vw;
    grid-area: headerContenedor;
    background-color: rgba(255, 255, 255, 0.8);
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /*Empezamos a config GRID*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas: "logoPPal logoPPal"
                         "menu menu";
    justify-items: center;
    align-items: center;
    box-shadow: 0vh 0vw 0.5vh black;
    z-index: 2;
}
.ingresar {
    position: absolute;
    justify-self: end;
    align-self: baseline;
}

.logo {
    grid-area: logoPPal;
}

#logoPPal {
    width: 20vh;
    height: 20vh;
}

.menu {
    grid-area: menu;
    margin-right: 1vw;
    height: 5vh;
}

.botonMenu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 2vh;
    vertical-align: bottom;
    padding: 1vh;
}

.botonMenu:hover {
    border-style: inset;
    border-bottom-color: #404040;
    border-bottom-width: 0.5vh;
    transition: all 0.1s ease;
    
}

#ingresar {
    font-size: 2vh;
    background-color: transparent;
    width: 23.3vh;
    color: black;
}

.fa-solid {
    color: #bfbfbf;
}

#ingresar:hover {
    text-shadow: 0vw 0vh 0.2vh black;
    color: white;
    transition: all 0.3s linear;
    text-decoration: none;
    border: none;
}

.titulo {
    grid-area: publicidad;
    text-align: left;
    margin-top: 8vh;
}

.btnGen {
    border: 0;
    border-radius: 0.5vh;
    height: 5vh;
    width: 15vw;
    font-size: 1.5rem;
    background-color: black;
    padding: 1vh;
    color: white;
}

.btnGen:hover {
    cursor: pointer;
    box-shadow: 0vw 0vh 1vh black;
    background-color: #404040;
    transition: all 0.3s linear;
}

.producto {
    grid-area: imagen;
    align-self: self-end;
}

.lugar {
    grid-area: lugar;
    background-color: #c53b34;
    margin-left: -1vw;
    box-shadow: 0.5vw 0vh 1vw black;
}

.cocineraFind {
    grid-area: cocinera;
    translate: -9.1vh 7.3vh;
}


/*CONFIGURACION PRODUCTO*/

.footer {
    grid-area: footer;
    background-color: white;
    box-shadow: 0vw 0vh 0.5vh black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "contacto"
                         "copyright";
    width: 100vw;
    height: 15vh;
    margin-left: -0.5vw;
    justify-items: center;
    align-items: center;
}

#contactar {
    grid-area: contacto;
    
}
.copyRight {
    grid-area: copyright;
    align-self: self-end;
}

.tituloLugar {
    color: yellow;
    background-color: darkgoldenrod;
    width: 25vw;
    padding-left: 5vw;
}

/* ESTILO LINK FLOTANTE */
.whatsapp {
    display:scroll;
    position:fixed;
    bottom:2vh;
    right:2vw;
}

#wappIMG {
    height: 7vh;
    width: 7vh;
}

/* VENTANA MODAL */
.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0%;
    top: 0%;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
    
  }

  .contenedorModal {
    display: grid;   
    width: 50vw;
    height: 50vh;
    overflow: scroll;
    background-color: white;
    grid-template-columns: 1fr 0.25fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "x x x"
                         "logo logo logo"
                         "texto texto texto"
                         "input input ingresar"
                         "input2 input2 ingresar"
                         "invitado invitado invitado";
    border-radius: 0.5vh;
    box-shadow: 0vh 0vw 1vh #bfbfbf;
    column-gap: 0;
    row-gap: 0;
    margin-left: 25%;
    margin-top: 10%;
  }

  .x {
    grid-area: x;
    justify-self: end;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    font-size: 2vh;
  }

  .x:hover {
    cursor: pointer;
    color: #404040;
  }

  .logo1 {
    grid-area: logo;
    justify-self: center;
  }

  #logoIMG {
    height: 20vh;
  }

  .textoLogin {
    grid-area: texto;
    text-align: center;
  }

  .input {
    grid-area: input;
    justify-self: right;
  }


  .input2 {
    grid-area: input2;
    justify-self: right;
  }

  .loginOk {
    grid-area: ingresar;
    justify-self: left;
    align-self: center;
    
  }

  .botonLoginOk {
    border: 0;
    background-color: transparent;
    font-size: 2.5vw;
    margin-left: 2vw;
  }

  .botonLoginOk:hover {
    cursor: pointer;
  }


  .invitado {
    grid-area: invitado;
    justify-self: center;
  }


  input {
    border-bottom-color: lightgray;
    border-bottom-width: 0.3vh;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  input:focus {
    outline: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 0.3vh;
    transition: all 0.3s ease-in;
  }

  a {
    color: #7f7f7f;
  }

.formulario {
    border: none;
}

.titulo {
    font-size: 3vh;
    grid-area: logo;
    margin-top: -2vh;
}

.nombreFormulario {
    grid-area: texto;
    margin-top: 1vh;
}

.formContenedor {
    width: 20vw;
    margin-left: 40%;
}

.btnChico {
    height: 3.5vh;
    width: 8vw;
    font-size: 1.4vh;
}

textarea {
    background-color: #bfbfbf;
    border: 0;
    width: 15vw;
    outline: none;
}

textarea:focus {
    outline: solid;
    outline-color: black;
}

/* IMAGENES RESTO PPAL */


/* GRID DE IMAGENES PERSONALES */
.contenedor{
  display: grid;
  margin-top: 30vh;
  /*width: 100vw;*/
  /*height:100vh;*/
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 0.1fr 1fr;
  grid-template-areas: "imagenP"
                       "textoP"
                       "tiposComida"
                       "carrousel";
  
  
}


.contenedorImagenPPal {
  grid-area: imagenP;
  display: grid;
  grid-template-columns: 0.1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "imagen"
                       "imagen2";
  column-gap: 0.1vw;
  row-gap: 1vh;
  justify-content: center;
  
}


.imagenCuadro {
  border-style: solid;
  border-color: white;
  box-shadow: 0.1vh 0vw 1vh black;
  border-width: 1vh;
}

#imagenResto1 {
height: 25vh;
width: 25vw;
}

#imagenResto2 {
height: 25vh;
width: 25vw;
}

#imagenResto3 {
grid-area: imagen2;
justify-self: center;
height: 50vh;
width: 51.5vw;
}

.flexPpal {
  grid-area: imagen;
  display: flex;
  gap: 0.5vw;
}

.textoPPal {
  grid-area: textoP;
  margin-left: 0.5vw;
  margin-right: 1vw;
  text-align: justify;
}

#tituloHistoria {
  color: white;
  font-size: 4vw;
}

.comidaLogo {
  height: 4vh;
  align-items: ;
}

.flexTipoComidas {
  grid-area: tiposComida;
  margin-top: -3%;
  margin-left: 1vh;
}

.carrousel {
  grid-area: carrousel;
  justify-self: center;
}