body {
    background: #aab1ba;
}

.container {
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.01fr 3fr 1fr 1fr;
    grid-template-areas: "header header header"
                        "menu menu menu"
                        "main main main"
                        "publicidad publicidad publicidad"
                        "footer footer footer ";
    
}


.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    
    background-color: #c53b34;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 10vh;
    width: 99vw;
    box-shadow: 0em 0.1em 0.5em;
}

.filaDerecha {
    margin-top: 3vh;
    text-align: end;
    margin-right: 2vw;
}

.sindeco {
    color: white;
    font-size: 3vh;
    text-decoration: none;
    vertical-align: middle;
    transition: font-size .4s ease;
    z-index: 4;
    position: sticky;
}

#login {
    font-size: 1.5vh;
    margin-left: 1vh;
    vertical-align: middle;
}

.sindeco:hover {
    color: #5e707f;
    font-size: 2vh;
}

#logo {
    width: 8vh;
    height: 8vh;
    margin-left: 0.5vw;
    margin-top: 1vh;
}

.menu {
    grid-area: menu;
    background-color: #5e707f;
    height: 1.5em;
    width: 99vw;
    justify-self: stretch;
    align-self: self-end;
    box-shadow: 0em 0.2em 0.5em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
}

#imgCheff
{
    height: 50vh;
    width: 25vw;
    translate: -20vw 4vh;
}

.btnMenu {
    border: 0vh;
    background: none;
    margin-left: 0.2em;
    color: beige;
}

.btnIzquierdo {
    border-bottom-left-radius: 0.5em;
}

.btnMenu:hover{
    background: scroll;
    background-color: #c53b34;
    box-shadow: 0em 0.1em 0.2em #aab1ba;

    height: 1.7em;
}

.imagenPpal {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 20vh;
    width: 30vw;
    border-radius: 1vh;
}

.imagenMPpal {
    margin-top: 1vh;
    margin-left: -25vw;
    margin-bottom: 1vh;
    height: 50vh;
    width: 50vw;
    border-radius: 1vh;
}

#triangulo1-topright{
    border-top: 3vh solid yellow;
    border-left: 4.57vw solid transparent;
}

#triangulo2-topright{
    border-top: 3vh solid yellow;
    border-left: 4.57vw solid transparent;
}

#triangulo3-topright{
    border-top: 3vh solid yellow;
    border-left: 4.57vw solid transparent;
}

.triangulo-topright {
    width: 0;
    height: 0;
}

#triangulo1-topleft{
    margin-left: 2vw;
    border-top: 3vh solid yellow;
    border-right: 4.51vw solid transparent;
}

#triangulo2-topleft{
    margin-left: 35vw;
    border-top: 3vh solid yellow;
    border-right: 4.51vw solid transparent;
}

#triangulo3-topleft{
    margin-left: 68vw;
    border-top: 3vh solid yellow;
    border-right: 4.51vw solid transparent;
}

.triangulo-topleft {
    width: 0;
    height: 0;
}

.tittlePpal {
    font-size: 1vh;
    text-align: center;
}

.dosis-800 {
    font-size: 1.5vh;
    text-align: center;
    /*margin-top: -1.5vh;*/
}

.cuadrado {
    margin-top: -1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    background-color:red;
    clear:both;
    height:6vh;
    width:9vw;
    background-color: yellow;
}

#cuadrado1 {
    margin-left: 2vw;
}

#cuadrado2 {
    margin-left: 35vw;
}

#cuadrado3 {
    margin-left: 68vw;
}
.alineacion div {
    float: left;
    
}

.overlay {
    position: absolute;
}

#historia {
    margin-top: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: rgba(255, 255,255, 30%);
    border-radius: 1vh;
    width: 50vw;
    height: 50vh;
    overflow: scroll;
}

.textoParrafo {
    font-size: 1.8vh;
}

.h1 {
    opacity: 100%;
    font-size: 4vh;
}

.publicidad {
    margin-top: 4vh;
    grid-area: publicidad;
    display: grid;
    width: 99vw;
    grid-template-columns: 1fr 1fr 1fr;
}
/* ESTILO FOOTER */
.footer {
    grid-area: footer;
}

.containerFooter {
    box-shadow: 0vh -0.1vh 0.4vw black;
    background-color: #5e707f;
    height: 20vh;
    width: 99vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: 0.2vh solid gray;
    
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    justify-content: center;
}

.logoFooter {
    margin-top: 1vw;
    margin-left: 2vw;
    height: 12vh;
    width: 12vh;
}

.textoFooter {
    font-size: 1.2vh;
}

.footerMenu:hover {
    color: aquamarine;
    /*outline: none;*/
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0.1vh;
    width: 20vh;
    cursor: pointer;
    border-bottom-color: red;
    transition: all 0.3s ease-in-out;
}

/* ESTILO LINK FLOTANTE */
.whatsapp {
    display:scroll;
    position:fixed;
    bottom:12vh;
    right:2vw;
}

#wappIMG {
    height: 10vh;
    width: 10vh;
}