body {
    background-color: darkgoldenrod;
}
.contenedor{
    display: grid;
    margin-top: 11.5vh;
    width: 100vw;
    height:172vh;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "publicidad imagen"
                         "lugar cocinera";
    justify-content: space-between;
    gap: 0;
    
}

.headerContenedor {
    padding: 0.2vw;
    box-shadow: 0vw 0vh 0.5vh black;
    background-color: white;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /*Empezamos a config GRID*/
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: "logoPPal menu";
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo {
    grid-area: logoPPal;
}

#logoPPal {
    width: 10vh;
    height: 10vh;
}

.menu {
    grid-area: menu;
    margin-right: 1vw;
}

.botonMenu {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.botonMenu:hover {
    text-decoration: underline;
    text-shadow: 0em 0em 0.1em #c53b34;
}

#ingresar {
    font-size: 2vh;
    background-color: #c53b34;
    padding: 1vh;
    color: white;
}

.fa-solid {
    color: cornflowerblue;
}

#ingresar:hover {
    box-shadow: 0vw 0vh 0.5vh black;
    background-color: chocolate;
    transition: all 0.3s linear;
    text-decoration: none;
}

.titulo {
    grid-area: publicidad;
    text-align: left;
    margin-top: 8vh;
}

#nombreProducto {
    font-size: 2.5rem;
    color: yellow;
}

#descripcionProducto {
    font-size: 3rem;
    color:  #c53b34;
}

#btnPedir {
    border: 0;
    height: 8vh;
    width: 30vw;
    font-size: 1.5rem;
    background-color: #c53b34;
    padding: 1vh;
    color: white;
}

#btnPedir:hover {
    cursor: pointer;
    box-shadow: 0vw 0vh 1vh black;
    background-color: chocolate;
    transition: all 0.3s linear;
}

.producto {
    grid-area: imagen;
    align-self: self-end;
}

.lugar {
    grid-area: lugar;
    background-color: #c53b34;
    margin-left: -1vw;
    box-shadow: 0.5vw 0vh 1vw black;
}

.cocineraFind {
    grid-area: cocinera;
    translate: -9.1vh 7.3vh;
}
.mapa {
    margin-left: 1vw;
    width: 65vw;
    height: 70vh;
}


/*CONFIGURACION PRODUCTO*/

.footer {
    grid-area: footer;
    background-color: white;
    box-shadow: 0vw 0vh 0.5vh black;
    width: 100vw;
    height: 10vh;
    margin-left: -0.5vw;
    margin-top: -1.5vh;
    text-align: center;;
}

.tituloLugar {
    color: yellow;
    background-color: darkgoldenrod;
    width: 25vw;
    padding-left: 5vw;
}

/* VENTANA MODAL */
.modal {
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 0%;
    top: 0%;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
  }

  .contenedorModal {
    display: grid;
    margin-left: 25%;
    margin-top: 15%;
    width: 50vw;
    height: 50vh;
    overflow: scroll;
    background-color: white;
    grid-template-columns: 1fr 0.25fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "x x x"
                         "logo logo logo"
                         "texto texto texto"
                         "input input ingresar"
                         "input2 input2 ingresar"
                         "invitado invitado invitado";
    border-radius: 0.5vh;
    box-shadow: 0vh 0vw 1vh white;
    column-gap: 0;
    row-gap: 0;
  }

  .x {
    grid-area: x;
    justify-self: end;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    font-size: 2vh;
  }

  .x:hover {
    cursor: pointer;
    color: darkgoldenrod;
  }

  .logo1 {
    grid-area: logo;
    justify-self: center;
  }

  #logoIMG {
    height: 20vh;
  }

  .textoLogin {
    grid-area: texto;
    text-align: center;
  }

  .input {
    grid-area: input;
    justify-self: right;
  }


  .input2 {
    grid-area: input2;
    justify-self: right;
  }

  .loginOk {
    grid-area: ingresar;
    justify-self: left;
    align-self: center;
    
  }

  .botonLoginOk {
    border: 0;
    background-color: transparent;
    font-size: 2.5vw;
    margin-left: 2vw;
  }

  .botonLoginOk:hover {
    cursor: pointer;
  }

  .invitado {
    grid-area: invitado;
    justify-self: center;
  }


  input {
    border-bottom-color: #c53b34;
    border-bottom-width: 0.3vh;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  input:focus {
    outline: none;
    border-bottom-color: darkgoldenrod;
    border-bottom-width: 0.3vh;
  }