.botoneraPiso {
    display:block;
    width: 87vw;
    padding-left: 10vw;
    text-align: center;
    margin-left: 0.8vw;
    font-style: italic;
    background-color: lightgray;
    box-shadow: 0em 0em 0.2em black;
}

.mapa {
    text-align: center;
    padding-left: 10vw;
    margin-left: 0.8vw;
    width: 87vw;
    box-shadow: 0em 0em 0.2em black;
    background-color: #e3ba9e;   
    margin-top: 5vh;
}

.mesalibre {
    height: 10em;
    width: 10em;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    background-color: green; 
    border: 0.1vw solid black;
    position: inherit;
    color: white; 
    padding: 3.4vw 1.4vw;
    display: inline-flex;
    align-items: center;
    font-size: small;
    font-size-adjust: inherit;
    text-align: center;
    cursor: pointer; 
    top: -5vw;
}

.mesalibre:hover{
    background-color: blue;
}

.mesallena {
    height: 10em;
    width: 10em;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    background-color: red; 
    border: 0.1vw solid black;
    position: inherit;
    color: white; 
    padding: 3.4vw 1.4vw; 
    display: inline-flex;
    align-items: center;
    font-size: small;
    font-size-adjust: inherit;

    cursor: pointer; 
    top: -5vw;
}

.mesallena:hover{
    background-color: pink;
}

.mesareservada {
    height: 10em;
    width: 10em;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw;
    background-color:gray; 
    border: 0.1vw solid black;
    position: inherit;
    color: white; 
    padding: 3.4vw 1.4vw; 
    display: inline-flex;
    align-items: center;
    font-size: small;
    font-size-adjust: inherit;

    cursor: pointer; 
    top: -50px;
}

.mesareservada:hover{
    background-color: chocolate;
}

.redonda {
    border-radius: 100%;
}

.sector{
    border-radius: 0%;
    border-style: hidden;
    margin-right: 3em;
    height: 2em;
    cursor: pointer;
}

.exterior {
    background-color: burlywood;
    width: 10vh;
    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.interior {
    background-color: green;
    width: 10vh;
    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.interior:hover {
    background-color: #04AA6D;
    box-shadow: 0em 0em 0.2em;
}

.exterior:hover {
    background-color: chocolate;
    box-shadow: 0em 0em 0.2em;
}

.rectangular {
    width: 50vw;
    height: 7vh;
    padding: 5vw 12vw;
}

div p {
    position: sticky;
    background-color: #04AA6D;
    display: none;
   
}