@import url(marketcelulares.css) (width<= 768px);
@media only screen and (min-width: 1000px) {
    .contenedor {
        display: grid;
        grid-template-columns: 0.3fr 1fr 0.3fr;
        grid-template-rows: 1fr;
        grid-template-areas: "filtros cuerpo buscador";
        
        margin-bottom: 2vh;
    }

    .tituloMarket {
        grid-area: titulo;
        height: 1vh;
        width: 20vw;
        
    }

    .buscador {
        grid-area: buscador;
    }


    #buscador {
        height: 3.2vh;
        float: right;
        margin-right: 5vw;
    }
    #btnBuscar {
        float: right;
        height: 3.2vh;
        width: 2vw;
        padding: 0.1vh;
        border: 0vh;
    }
    
    .filtros {
        grid-area: filtros;
        background-color: #7f7f7f;
        width: 20vw;
        padding: 1vw;
        border-radius: 1vh;
        border-color: lightgray;
        border-width: 0.1vw;
        border-style: solid;
        box-shadow: 0vw 0vh 0.5vw black;
        font-size: 0.8em;
    }

    .cuerpo {
        grid-area: cuerpo;
        height: 75vh;
        margin-left: 2vw;
    }


    .contenedorProductos {
        display: grid;
        width: 40vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.15fr;
        grid-template-areas: "producto1 producto2 producto3 producto4"
                    "producto5 producto6 producto7 producto8"
                    "botonera botonera botonera botonera";
                   
        row-gap: 1vw;
        column-gap: 1vw;
    }
    .producto1 {
        grid-area: producto1;
    }
    .producto2 {
        grid-area: producto2;
    }
    .producto3 {
        grid-area: producto3;
    }
    .producto4 {
        grid-area: producto4;
    }
    .producto5 {
        grid-area: producto5;
    }
    .producto6 {
        grid-area: producto6;
    }
    .producto7 {
        grid-area: producto7;
    }
    .producto8 {
        grid-area: producto8;
    }
  
    #botonera {
        grid-area: botonera;
        margin-top: -5vh;
    }

    .producto {
        display: flex;
        flex-direction: column;
        width: 12vw;
        background-color: #7f7f7f;
        /*padding: 1vh;*/
        border-radius: 1vh;
        box-shadow: 0vw 0vh 0.5vw black;
        text-align: center;
    }


    .nProducto {
        background-color: white;
        font-size: 1em;
        font-family: "Sedan SC", serif;
        font-weight: 400;
        font-style: normal;
    }

    .imgPlato {
        width: 12vw;
        height: 12vh;
    }

    .pProducto {
        font-size: 1.5em;
        font-family: "Freeman", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .btnPedir{
        height: 4vh;
        width: 12vw;
        border-width: 0;
        border-top-left-radius: 0vh;
        border-bottom-left-radius: 1vh;
        border-bottom-right-radius: 1vh;
        background-color: black;
        color: white;
    }

    .btnPedir:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }

    .tituloLindo {
        margin-top: 0vh;
        width: 40vw;
    }

    .tituloFiltro {
        text-indent: 1vw;
        background-color: #404040;
        color: white;
    }

    .listaFiltro {
        list-style: none;
    }

    .itemFiltro {
        margin-bottom: 1vh;
    }

    .itemFiltro:hover {
        background-color: white;
        cursor: pointer;
        width: 10vw;
    }

    .btnPlatos {
        border: 0;
        background-color: #7f7f7f;
        margin-left: 0.1vw;
        height: 3vh;
        width: 2vw;
    }

}



.btnPlatos:hover {
    background-color: white;
    cursor: pointer;
}