:root {
    --plataforma: celulares;
}

.contenedor {
    display: grid;
    grid-template-columns: 0.3fr 0.5fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "buscador buscador"
                        "cuerpo cuerpo";
    margin-bottom: 2vh;
    }

.buscador {
    grid-area: buscador;
}


#buscador {
    height: 4.2vh;
    float: right;
    margin-right: 2vw;
}

#btnBuscar {
        float: right;
        height: 4.2vh;
        width: 5vh;
        border: 0vh;
    }
    
.filtros {
    display: none;
    grid-area: filtros;
    background-color: #7f7f7f;
    width: 30vw;
    height: 35vh;
    padding: 0.5vw;
    border-radius: 1vh;
    border-color: lightgray;
    border-width: 0.1vw;
    border-style: solid;
    box-shadow: 0vw 0vh 0.5vw black;
    font-size: 0.8em;
    }

.cuerpo {
    grid-area: cuerpo;
    height: 75vh;
    margin-left: 2vw;
}


.contenedorProductos {
    display: grid;
    width: 40vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.15fr;
    grid-template-areas: "producto1 producto2"
                    "producto3 producto4"
                    "botonera botonera";
    row-gap: 0vw;
    column-gap: 1vw;
    }

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

  
#botonera {
    grid-area: botonera;
    margin-top: -2vh;
}

.producto {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 30vh;
    background-color: #7f7f7f;
    /*padding: 1vh;*/
    border-radius: 1vh;
    box-shadow: 0vw 0vh 0.5vw black;
    text-align: center;
    }


.nProducto {
    background-color: white;
    font-size: 0.8em;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}

.imgPlato {
    width: 45vw;
    height: 14vh;
}

.pProducto {
    font-size: 1em;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;    
}
    
.btnPedir{
    height: 4vh;
    width: 45vw;
    border-width: 0;
    border-top-left-radius: 0vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: black;
    color: white;
}

.btnPedir:hover {
    cursor: pointer;
    background-color: white;
    color: black;    
}

.tituloLindo {
    margin-top: 0vh;
    width: 40vw;
}

.tituloFiltro {
    text-indent: 0.5vw;
    background-color: #404040;
    color: white;
}

.listaFiltro {
    list-style: none;
}

.itemFiltro {
    margin-bottom: 1vh;
}

.itemFiltro:hover {
    background-color: white;
    cursor: pointer;
    width: 10vw;
}

.btnPlatos {
    border: 0;
    background-color: #7f7f7f;
    margin-left: 2vw;
    height: 6vh;
    width: 10vw;
}
