body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.tituloplatos, .tituloplatos2 {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.contenedor1 {
    margin-top: 30vh;
}

.grupo-formularios {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.boton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.boton:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alineación para tres columnas */
}

li {
    flex: 0 1 calc(30% - 20px); /* Ancho calculado para tres columnas con espacio entre ellas */
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio entre filas */
}

li .dish-details {
    margin-bottom: 10px;
}

li .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px; /* Espacio entre los detalles y los botones */
}

li .boton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

li .boton:hover {
    background-color: #c82333;
}
