.letrachica {
    font-size: 1em;
    width: 75vw;
}

fieldset {
    margin-top: 2vw;
    border: none;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0.3vh;
    border-color: #78594b;
    background-color:#aab1ba;
}

button[type="submit"] {
    margin-top: 3vw;
    height: 5vh;
    width: 20vh;
    border: none;
    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    background-color: #78594b;
    color: black;
    align-items: end;
}

button[type="submit"]:hover {
    background-color: #c53b34;
    color: white;
}

.boton {
    text-align: end; 
}

.cb {
    appearance: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: none;
    width: 2vh;
    height: 2vh;
    appearance: none;
    border: 0.1vw solid #c53b34;
    transition: all 0.3s ease-in-out;
  }

.cb:checked {
    background-color: green;
    border-radius: 5vw;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/></svg>");
  }

  .fa-leaf {
    height: 0.5vh;
    width: 1vw;
    color: green;
  }

  .fa-burger {
    height: 0.5vh;
    width: 1vw;
    color: red;
  }
  
.fa-wheat-awn-circle-exclamation{
    height: 0.5vh;
    width: 1vw;
    color: rgb(190, 94, 110)
}

.fa-seedling {
    height: 0.5vh;
    width: 1vw;
    color: rgb(4, 71, 4);
}