body {
    background: #aab1ba;
}

.container {
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.10fr 3fr 1fr;
    grid-template-areas: "header"
                        "menu"
                         "main"
                         "footer";
    
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    grid-template-areas: "filaIzquierda filaDerecha"
                         "menu menu";
    background-color: #c53b34;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 10vh;
    width: 99vw;
    box-shadow: 0em 0.1em 0.5em;
}

.filaDerecha {
    align-self: center;
    justify-self: end;
    margin-right: 2vw;
}

.sindeco {
    color: white;
    font-size: 3vh;
    text-decoration: none;
    vertical-align: middle;
    transition: font-size .4s ease;
}

#login {
    font-size: 1.5vh;
    margin-left: 1vh;
    vertical-align: middle;
}

.sindeco:hover {
    color: #5e707f;
    font-size: 2vh;
}

#logo {
    width: 20 vw;
    height: 5vh;
    margin-left: 0.5vw;
    margin-top: 2vh;
}

.menu {
    background-color: #5e707f;
    height: 1.5em;
    width: 99vw;
    justify-self: stretch;
    align-self: self-end;
    box-shadow: 0em 0.2em 0.5em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    
}

.btnMenu {
    border: 0vh;
    background: none;
    margin-left: 0.2em;
    color: beige;
}

.btnIzquierdo {
    border-bottom-left-radius: 0.5em;
}

.btnMenu:hover{
    background: scroll;
    background-color: #c53b34;
    box-shadow: 0em 0.1em 0.2em #aab1ba;

    height: 1.7em;
}

.imagenPpal {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 20vh;
    width: 30vw;
    border-radius: 1vh;
}

#triangulo-topright {
    width: 0;
    height: 0;
    border-top: 5vh solid yellow;
    border-left: 5vw solid transparent;
}

#triangulo-topleft {
    width: 0;
    height: 0;
    margin-left: 2vw;
    border-top: 5vh solid yellow;
    border-right: 5vw solid transparent;
    
}

.tittlePpal {
    font-size: 2vh;
    text-align: center;
}

.dosis-800 {
    font-size: 5vh;
    text-align: center;
    margin-top: -1.5vh;
}

#cuadrado {
    margin-top: -1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    background-color:red;
    clear:both;
    height:12vh;
    width:10vw;
    margin-left: 2vw;
    background-color: yellow;
}

.alineacion div {
    float: left;
    
}

.overlay {
    position: absolute;
}

#historia {
    
    background-color: rgba(255, 255,255, 30%);
    border-radius: 1vh;
    width: 50vw;
    height: 65vh;
}

.h1 {
    opacity: 100%;
}
/* ESTILO FOOTER */

.containerFooter {
    box-shadow: 0vh -0.1vh 0.4vw black;
    background-color: #5e707f;
    height: 20vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: 0.2vh solid gray;
    border-radius: 1vh;
    justify-content: center;
}

.logoFooter {
    margin-top: 1vw;
    height: 2.5vw;
    width: 10vw;
}

.textoFooter {
    font-size: 1.2vh;
}

.footerMenu:hover {
    color: aquamarine;
    /*outline: none;*/
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 0.1vh;
    width: 20vh;
    cursor: pointer;
    border-bottom-color: red;
    transition: all 0.3s ease-in-out;
}

/* ESTILO LINK FLOTANTE */
.whatsapp {
    display:scroll;
    position:fixed;
    bottom:12vh;
    right:2vw;
}

#wappIMG {
    height: 10vh;
    width: 10vh;
}